/* Базовые настоойки */
body {
  font-family: Arial!important;
}
h1 {
  font: 900 2.5rem Arial, Helvetica, sans-serif;
  margin-bottom: 3rem;
  text-align: center;
  text-transform: uppercase;
}
section {
  padding: 3rem 0;
}
/* Путкт меню PageScroll2id */
.mPS2id-highlight-last {
  background: white;
  color: black!important;
  font-weight: bold;
  border-radius: 1rem;
}
/* ------------------------- */
.navbar {
  background: rgba(0, 18, 33, 0.8);
}
.navbar-brand {
  font-size: 1.5rem;
}
.navbar-collapse {
  justify-content: flex-end;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
}
.header {
  position: relative;
  background: #0000ff url(../img/header-bg.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.header h1 {
  position: relative;
  color: white;
  text-shadow: 5px 5px 10px #000;
  line-height: 100%;
}
.header h1 span {
  text-transform: uppercase;
  font-size: 1.2rem;
}
.header-img {
  position: relative;
  display: block;
  max-width: 15rem;
  margin: 5rem auto 1rem;
  border-radius: 20%;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.about-text {
  text-align: justify;
}
.about-text p {
  margin-bottom: 0.5rem;
  text-indent: 1rem;
}
.about-text p strong {
  font-weight: 750;
}
.portfolio {
  background: #0000ff url(../img/portfolio-bg.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.portfolio h1 {
  color: white;
  text-shadow: 5px 5px 10px #000;
}
.portfolio-item {
  position: relative;
  width: 100%;
  display: block;
}
.portfolio-item:hover::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f973007d;
  transition: all 0.5s;
}
.portfolio-item:hover::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/portfolio/find.png) center no-repeat;
  transition: all 0.5s;
}
.portfolio-item::before {
  content: "";
}
.portfolio-item::after {
  content: "";
  background-position: 50% 0%;
}
.portfolio-item-img {
  max-width: 100%;
}
.contacts-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
}
.contacts-link {
  width: 5rem;
}
.contacts-link-even {
  width: 9rem;
}
.contacts-link:hover {
  transform: scale(1.3);
  transition: 0.5s;
}
.contacts-img {
  max-width: 100%;
}
.footer {
  background: rgba(0, 18, 33, 0.8);
  height: 3rem;
}
.footer-copy {
  color: white;
  text-align: right;
  line-height: 3rem;
}
/* Адаптив для разных экранов */
@media (max-width: 767px) {
  .navbar-nav {
    text-align: center;
  }
  .mPS2id-highlight-last {
    margin: 0 auto;
    width: 50%;
  }
  .header h1 {
    font-size: 2.2rem;
  }
  .header h1 span {
    font-size: 1rem;
  }
  .portfolio {
    padding-bottom: 0;
  }
  .portfolio-item {
    margin-bottom: 3rem;
  }
}
@media (max-width: 575px) {
  .contacts h1 {
    font-size: 2rem;
  }
}
